<%- view_title "New Threat-Oriented Risk Object" %>

<% content_for :main do %>
<div class="container">
  <div class="col">
    <h2>New Threat-Oriented Risk Object</h2>
  </div>

  <div class="col">
    <form class="form">
      <%= meta_form() %>
      <%= threat_source_form(@threat_sources) %>
      <%= adversarial_capabilities_form(@adversarial_capabilities) %>
      <%= adversarial_intents_form(@adversarial_intents) %>
      <%= adversarial_targetings_form(@adversarial_targetings) %>
      <%= threat_events_form(@threat_events) %>
    </form>
  </div>
</div>
<% end %>
