<%- view_title "Threat Sources" %>

<% content_for :main do %>
<section class="usa-grid usa-section">
  <div class="usa-width-one-third">
    <h2>Threat Sources</h2>
    <p><em>Taxonomy of Threat Sources Capable of Initiating Threat Events</em></p>
  </div>
  <div class="usa-width-two-thirds">
    <p>This appendix provides: (i) a description of potentially useful inputs to the threat source identification task; (ii) an exemplary taxonomy of threat sources by type, description, and risk factors (i.e., characteristics) used to assess the likelihood and/or impact of such threat sources initiating threat events; (iii) an exemplary set of tailorable assessment scales for assessing those risk factors; and (iv) templates for summarizing and documenting the results of the threat source identification Task 2-1. The taxonomy and assessment scales in this appendix can be used by organizations as a starting point with appropriate tailoring to adjust for organization-specific conditions. Tables D-7 and D-8, outputs from Task 2-1, provide relevant inputs to the risk tables in Appendix I.</p>
  </div>
</section>
<section class="usa-grid usa-section">
  <div class="usa-width-one-whole">
    <table class="usa-table-borderless">
      <caption>Table D-2: Taxonomy of Threat Sources</caption>
      <thead>
        <tr>
          <th scope="col">Category</th>
          <th scope="col">Description</th>
        </tr>
      </thead>
      <tbody>
        <% @threat_sources.each do |source| %>
        <tr>
          <th scope="row"><%= source.category %></th>
          <td><%= source.description %></td>
        </tr>
        <% end %>
      </tbody>
    </table>
    <table class="usa-table-borderless">
      <caption>Table D-3: Characteristics of Adversary Capability</caption>
      <thead>
        <tr>
          <th scope="col">Qualitative</th>
          <th scope="col">Quantitative</th>
          <th scope="col">Description</th>
        </tr>
      </thead>
      <tbody>
        <% @adversarial_threat_source_capabilities.each do |capability| %>
        <tr>
          <td><%= capability.qualitative %></td>
          <td><%= capability.quantitative %></td>
          <td><%= capability.description %></td>
        </tr>
        <% end %>
      </tbody>
    </table>
    <table class="usa-table-borderless">
      <caption>Table D-4: Characteristics of Adversary Intent</caption>
      <thead>
        <tr>
          <th scope="col">Qualitative</th>
          <th scope="col">Quantitative</th>
          <th scope="col">Description</th>
        </tr>
      </thead>
      <tbody>
        <% @adversarial_threat_source_intents.each do |intent| %>
        <tr>
          <td><%= intent.qualitative %></td>
          <td><%= intent.quantitative %></td>
          <td><%= intent.description %></td>
        </tr>
        <% end %>
      </tbody>
    </table>
    <table class="usa-table-borderless">
      <caption>Table D-4: Characteristics of Adversary Targeting</caption>
      <thead>
        <tr>
          <th scope="col">Qualitative</th>
          <th scope="col">Quantitative</th>
          <th scope="col">Description</th>
        </tr>
      </thead>
      <tbody>
        <% @adversarial_threat_source_targetings.each do |targeting| %>
        <tr>
          <td><%= targeting.qualitative %></td>
          <td><%= targeting.quantitative %></td>
          <td><%= targeting.description %></td>
        </tr>
        <% end %>
      </tbody>
    </table>
    <table class="usa-table-borderless">
      <caption>Table D-6: Rrange of Effects for Non-Adversarial Threat Sources</caption>
      <thead>
        <tr>
          <th scope="col">Qualitative</th>
          <th scope="col">Quantitative</th>
          <th scope="col">Description</th>
        </tr>
      </thead>
      <tbody>
        <% @non_adversarial_threat_source_effects.each do |effect| %>
        <tr>
          <td><%= effect.qualitative %></td>
          <td><%= effect.quantitative %></td>
          <td><%= effect.description %></td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</section>
<% end %>
