<%- view_title "Impacts" %>

<% content_for :main do %>
<div class="container">
  <div class="row">
    <div class="col-4">
      <h2>Impacts</h2>
      <p><em>Effects of Threat Events on Organizations, Individuals, and the Nation</em></p>
    </div>
    <div class="col-8">
      <p>This appendix provides:
        <ol>
          <li>a description of useful inputs to the impact determination task;</li>
          <li>representative examples of adverse impacts to organizational operations and assets, individuals, other organizations, or the Nation;</li>
          <li>exemplary assessment scales for assessing the impact of threat events and the range of effect of threat events; and</li>
          <li>a template for summarizing and documenting the results of the impact determination Task 2-5.</li>
        </ol>
        
        The assessment scales in this appendix can be used as a starting point with appropriate tailoring to adjust for any organization-specific conditions. Table H-4, an output from Task 2-5, provides relevant inputs to the risk tables in Appendix I.
      </p>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col">
      <table class="table">
        <caption>Table H-2: Examples of Adverse Impacts</caption>
        <thead>
          <tr>
            <th scope="col">Category</th>
            <th scope="col">Description</th>
          </tr>
        </thead>
        <tbody>
          <% @adverse_impacts.each do |impact| %>
          <tr>
            <th scope="row"><%= impact.category %></th>
            <td><%= impact.description %></td>
          </tr>
          <% end %>
        </tbody>
      </table>
      <table class="table">
        <caption>Table H-3: Impact of Threat Events</caption>
        <thead>
          <tr>
            <th scope="col">Qualitative</th>
            <th scope="col">Quantitative</th>
            <th scope="col">Description</th>
          </tr>
        </thead>
        <tbody>
          <% @threat_event_impacts.each do |impact| %>
          <tr>
            <th scope="row"><%= impact.qualitative %></th>
            <td><%= impact.quantitative %></td>
            <td><%= impact.description %></td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
<% end %>
