<fieldset class="usa-fieldset-inputs">
  <legend>Threat Source</legend>

  <ul class="usa-unstyled-list">
    <% threat_sources.each do |threat_source| %>
    <li>
      <input id="threat_source_category_<%= threat_source.id %>" type="radio" value="threat_source_category_<%= threat_source.id %>" name="threat_source_category" onclick="update_threat_source_form(<%= threat_source.is_adversarial %>)">
      <label for="threat_source_category_<%= threat_source.id %>"><%= threat_source.category %>
      <span class="usa-form-hint"><%= threat_source.description %></span></label>
    </li>
    <% end %>
  </ul>
</fieldset>
