<%- view_title "Vulnerabilities" %>

<% content_for :main do %>
<div class="container">
  <div class="row">
    <div class="col-4">
      <h2>Vulnerabilities <br/><small>and Predisposing Conditions</small></h2>
      <p><em>Risk Factors Affecting the Likelihood of Successful Threat Exploitation</em></p>
    </div>
    <div class="col-8">
      <p>This appendix provides:
        <ol>
          <li>a description of potentially useful inputs to the vulnerability and predisposing condition identification task;</li>
          <li>an exemplary taxonomy of predisposing conditions;</li>
          <li>exemplary assessment scales for assessing the severity of vulnerabilities and the pervasiveness of predisposing conditions; and</li>
          <li>set of templates for summarizing and documenting the results of the vulnerability and predisposing condition identification task.</li>
        </ol>
        
        The taxonomy and assessment scales in this appendix can be used by organizations as a starting point with appropriate tailoring to adjust for any organization-specific conditions. Tables F-3 and F-6, outputs from Task 2-3 provide relevant inputs to the risk tables in Appendix I.
      </p>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col">
      <table class="table">
        <caption>Table F-2: Vulnerability Severity</caption>
        <thead>
          <tr>
            <th scope="col">Qualitative</th>
            <th scope="col">Quantitative</th>
            <th scope="col">Description</th>
          </tr>
        </thead>
        <tbody>
          <% @vulnerability_severities.each do |severity| %>
          <tr>
            <th scope="row"><%= severity.qualitative %></th>
            <td><%= severity.quantitative %></td>
            <td><%= severity.description %></td>
          </tr>
          <% end %>
        </tbody>
      </table>
      <table class="table">
        <caption>Table F-4: Taxonomy of Predisposing Conditions</caption>
        <thead>
          <tr>
            <th scope="col">Category</th>
            <th scope="col">Description</th>
          </tr>
        </thead>
        <tbody>
          <% @predisposing_conditions.each do |condition| %>
          <tr>
            <th scope="row"><%= condition.category %></th>
            <td><%= condition.description %></td>
          </tr>
          <% end %>
        </tbody>
      </table>
      <table class="table">
        <caption>Table F-5: Pervasiveness of Predisposing Condition</caption>
        <thead>
          <tr>
            <th scope="col">Qualitative</th>
            <th scope="col">Quantitative</th>
            <th scope="col">Description</th>
          </tr>
        </thead>
        <tbody>
          <% @predisposing_condition_pervasivenesses.each do |pervasiveness| %>
          <tr>
            <th scope="row"><%= pervasiveness.qualitative %></th>
            <td><%= pervasiveness.quantitative %></td>
            <td><%= pervasiveness.description %></td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
<% end %>
