<%- view_title "Welcome!" %>

<% content_for :main do %>
<div class="container overflow-hidden">
  <!--multisteps-form-->
  <div class="multisteps-form">
    <%= render partial: "static/shared/00_progress_bar" %>

    <!--form panels-->
    <div class="row">
      <div class="col-12 col-lg-8 m-auto">
        <form class="multisteps-form__form">
          <%= render partial: "static/shared/01_preparation_form" %>
          <%= render partial: "static/shared/02_sources_form" %>
          <%= render partial: "static/shared/03_events_form" %>
          <%= render partial: "static/shared/04_vulns_form" %>
          <%= render partial: "static/shared/05_likelihoods_form" %>
          <%= render partial: "static/shared/06_impacts_form" %>
          <%= render partial: "static/shared/07_risk_summary" %>
        </form>
      </div>
    </div>
  </div>
</div>

<script>
wizard();
</script>
<% end %>