<%- view_title "Threat Events" %>

<% content_for :main do %>
<div class="container">
  <div class="row">
    <div class="col-4">
      <h2>Threat Events</h2>
      <p><em>Representative Threat Events Initiated by Threat Sources</em></p>
    </div>
    <div class="col-8">
      <p>This appendix provides:
        <ol>
          <li>a description of potentially useful inputs to the threat event identification task;</li>
          <li>representative examples of adversarial threat events expressed as tactics, techniques, and procedures (TTPs) and non-adversarial threat events;</li>
          <li>an exemplary assessment scale for the relevance of those threat events; and</li>
          <li>templates for summarizing and documenting the results of the threat identification Task 2-2.</li>
        </ol>
        
        Organizations can eliminate certain threat events from further consideration if no adversary with the necessary capability has been identified.
      </p>
      <p>
        Organizations can also modify the threat events provided to describe specific TTPs with sufficient detail
        and at the appropriate classification level.
      </p>
      <p>
        Organizations can use the representative threat events and predicated/expected values for the relevance of those events as a starting point with tailoring to adjust for any organization-specific conditions. Table E-5, an output from Task 2-2, provides relevant inputs to the risk tables in Appendix I.
      </p>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col">
      <table class="table">
        <caption>Table E-2: Representative Examples – Adversarial Threat Events</caption>
        <thead>
          <tr>
            <th scope="col">Category</th>
            <th scope="col">TTP</th>
            <th scope="col">Description</th>
          </tr>
        </thead>
        <tbody>
          <% @adversarial_threat_events.each do |event| %>
          <tr>
            <th scope="row"><%= event.category %></th>
            <td><%= event.ttp %></td>
            <td><%= event.description %></td>
          </tr>
          <% end %>
        </tbody>
      </table>
      <table class="table">
        <caption>Table E-3: Representative Examples – Non-Adversarial Threat Events</caption>
        <thead>
          <tr>
            <th scope="col">Threat Event</th>
            <th scope="col">Description</th>
          </tr>
        </thead>
        <tbody>
          <% @non_adversarial_threat_events.each do |event| %>
          <tr>
            <td><%= event.category %></td>
            <td><%= event.description %></td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
<% end %>
